html {font-size: 15px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
    font-family: "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
    background-color: #037403;
  }

header {
  width: 0 auto;
  margin: 0 auto;
  background-color: #f10e0e;
}

.cabecario {
  color: white;
  text-align: center;
}

.cabecario-item{
  display: inline-block;

  height: 0 auto;
  width: 0 auto;
}

.cabecario-item-firts{
  background-color: yellow;
}

.cabecario-item-second{
  background-color: black;
}

.cabecario-item-third {
  background-color: chartreuse;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

body {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(1, 65, 12);
  }

img {
    display: block;
    margin: 0 auto;
  }

footer {
  width: 0 auto;
  margin: 0 auto;
  background-color: #00539F;
}

.btn-green {
    background-color: rgb(0, 83, 0);
    color: white;
}

.btn-blue {
    background-color:blue;
    color: white;
}

.btn-orange {
    background-color: orange;
    color: black;
}

.btn-corQuadra {
    background-color: rgb(216, 87, 184);
    color: black;
}

.cor-rodape {
    background-color: burlywood;
}
